.container {
  display: flex;

  .sidebar {
    width: 280px;
    min-height: 85vh;
  }
}

.navbar{
  min-height: 10vh;
  background-color: #1c1c39;
}

.centeredImage {
  display: block;
  margin: 0 auto;
}
